HOMEPAGE_VAR_DOMAIN_NAME=example.com
HOMEPAGE_VAR_ROUTER_IP=192.168.0.1
HOMEPAGE_VAR_TAILSCALE_DEVICE_ID=""
HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT_ID=""
HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID=""

HOMEPAGE_VAR_URBACKUP_USERNAME=""
HOMEPAGE_VAR_URBACKUP_PASSWORD=""
HOMEPAGE_VAR_OPNSENSE_KEY=""
HOMEPAGE_VAR_OPNSENSE_SECRET=""
HOMEPAGE_VAR_QBITTORRENT_USERNAME=""
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=""
HOMEPAGE_VAR_CROWDSEC_USERNAME=""
HOMEPAGE_VAR_CROWDSEC_PASSWORD=""
HOMEPAGE_VAR_ADGUARD_USERNAME=""
HOMEPAGE_VAR_ADGUARD_PASSWORD=""

HOMEPAGE_VAR_UNRAID_API_KEY=""
HOMEPAGE_VAR_TAILSCALE_API_KEY=""
HOMEPAGE_VAR_RADARR_API_KEY=""
HOMEPAGE_VAR_SONARR_API_KEY=""
HOMEPAGE_VAR_BAZARR_API_KEY=""
HOMEPAGE_VAR_OVERSEERR_API_KEY="="
HOMEPAGE_VAR_PROWLARR_API_KEY=""
HOMEPAGE_VAR_SABNZBD_API_KEY=""
HOMEPAGE_VAR_PLEX_API_TOKEN=""
HOMEPAGE_VAR_TAUTULLI_API_KEY=""
HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_API_KEY=""
HOMEPAGE_VAR_HOMEASSISTANT_LLAT=""
